tootalooBackend/tootalooBackend/.env
tootalooBackend/tootalooBackend/__pycache__
tootalooBackend/server/__pycache__
tootalooBackend/server/migrations/__pycache__
tootalooBackend/.venv

.vscode

flutter/
.DS_STORE

tootaloo/.flutter-plugins
tootaloo/.flutter-plugins-dependencies

tootaloo/.env
