<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154271438200-jo5q400c2vlo63egnrcp9l5k0aku7td6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154271438200-jo5q400c2vlo63egnrcp9l5k0aku7td6</string>
	<key>API_KEY</key>
	<string>AIzaSyAVpdGezlTnVniJgmxZiaFWXpLDuKr1he4</string>
	<key>GCM_SENDER_ID</key>
	<string>154271438200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tootaloo</string>
	<key>PROJECT_ID</key>
	<string>tootaloo-10a28</string>
	<key>STORAGE_BUCKET</key>
	<string>tootaloo-10a28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154271438200:ios:0b8cf2c87bd2221c76a48d</string>
</dict>
</plist>